body {
	margin: 20px 15px;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

main {
	background-color: #3A3F45;
	padding-bottom: 50px;
}

p, 
ul {
	margin: 0;
}

.shopping-list-header {
	color: #FB7277;
	background-color: #494F56;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
}

.shopping-list-title {
	font-size: 30px;
    margin-bottom: 10px;
}

.shopping-list-subtitle {
	font-size: 16px;
}

.shopping-list-footer {
	background-color: #494F56;
	color: #FB7277;
	height: 50px;
	text-align: center;
	padding-top: 25px;
}

.shopping-list-footer > p {
	font-size: 20px;
}

ul, 
.shopping-list-footer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-transform: capitalize;
}

ul {
	list-style: none;
	padding: 0;
	margin: 30px auto;

}

li:nth-child(odd) {
	background-color: #8B809F;
}

li:nth-child(even) {
	background-color: #7D7294;
}

li:hover, 
li:active {
	background-color: #655B78;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	transition: all .1s ease-in;
}

li:active {
	background-color: #FB7277;
}

label {
	display: inline-block;
	padding: 15px;
}

li {
	color: white;
	font-size: 25px;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transition: all .1s ease-out;
	cursor: pointer;
}

.shopping-list-details::before {
	content: "(";
}

.shopping-list-details::after {
	content: ")";
}

.checkbox {
	margin-top: 0;
    margin-right: 10px;
	transform: scale(2);
	vertical-align: middle;
	cursor: pointer;
}

.checkbox:checked + span,
.checkbox:checked + span > .shopping-list-details {
	text-decoration: line-through;
	color: #aaa5b5;
}

.shopping-list-details {
	display: inline-block;
	color: #aaa5b5;
	margin-left: 15px;
}